$border: 1px solid black;

@mixin hr($property) {
    margin-left: 3px;
    margin-right: 3px;
    border-top: $property solid black;
}

.toolbox {
    padding: 10px;
    overflow: hidden;
}

.color:nth-child(odd) {
    clear: both;
    margin-left: 20px;
}

.color:nth-child(even) {
    margin-left: 5px;
}

.color {
    float: left;
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    border: 0.5px solid black;
}

.line {
    border: $border;
    margin: 10px 20px;
    clear: both;
    width: 56px;
    height: 20px;
    background-color: white;
}

.color:focus,
.line:focus {
    outline: none;
}

.hr1 {
    @include hr(1px);
}

.hr2 {
    @include hr(2px);
}

.hr3 {
    @include hr(3px);
}

@media (max-width: 1700px) {
    .toolbox {
        text-align: center;
    }

    .color {
        margin: 10px !important;
        float: none;
    }

    .color:nth-child(odd) {
        margin-left: 10px !important;
    }

    .color:nth-child(even) {
        margin-left: 5px;
    }

    .line {
        text-align: center;
        margin: 10px;
        width: 40px;
        font-size: 10px;
    }
}
