$border: 1px solid black;

.toolbox {
    padding: 10px;
    overflow: hidden;
}

button:nth-child(odd) {
    clear: both;
    margin-left: 20px;
}

button:nth-child(even) {
    margin-left: 5px;
}

button {
    float: left;
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    border: 0.5px solid black;
}
