$font-stack: Helvetica, sans-serif;
$background-color: #f5f4f6;

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: $font-stack;
}
